$medium_desktop: 1500px;
$medium_small_desktop: 1250px;
$small_desktop: 1150px;
$big_tablet: 950px;
$tablet: 750px;
$phone: 550px;
$small_phone: 470px;


:root {
    --primary-color: #282c34;
    --secendary-color: white;
    --big-font: 3rem;
    --medium-font: 2rem;
}

*{
    margin: 0;
    padding: 0;
    font-size: inherit;
}

html {
    font-size: 67.5%;
    @media only screen and (max-width: $small_desktop) {
        font-size: 55%;
    }

    @media only screen and (max-width: $big_tablet) {
        font-size: 50%;
    }

    @media only screen and (max-width: $big_tablet) {
        font-size: 45%;
    }

    @media only screen and (max-width: $phone) {
        font-size: 40%;
    }
}

.search {
    background-color:var(--primary-color);
    color: var(--secendary-color);
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: var(--big-font);
    transition: height .2s;
    position: relative;

    button {
        margin-top: 1rem;
    }

    &__back {
        position: absolute;
        left: 2rem;
        top: 0;
        transform: translateY(-1rem);
        margin: auto;
        font-size: 7rem;
        display: flex;
        cursor: pointer;
        transition: all .2s;
        &:hover {
            transform: scale(1.2) translateY(-1rem);
        }
    }

    &__small {
        width: 100%;
        height: 8rem;
    }
}

.search-history {
    ul {
        display: flex;
        flex-direction: row;
        li {
            list-style: none;
            margin-right: 2rem;
            cursor: pointer;
            transition: transform .2s;
        }

        &:hover {
            li:not(:hover) {
                transform: scale(0.8);
            }
            li:hover {
                transform: scale(1.2);
            }
        }
    }
}

.gallery {
    display: grid;
    grid-gap: 2rem;
    grid-template-columns: repeat(7, 1fr);
    width: 100%;
    grid-auto-rows: 15rem;
    overflow: hidden;

    @media only screen and (max-width: $medium_desktop) {
        grid-template-columns: repeat(6, 1fr);
    }

    @media only screen and (max-width: $medium_small_desktop) {
        grid-template-columns: repeat(5, 1fr);
    }

    @media only screen and (max-width: $big_tablet) {
        grid-template-columns: repeat(4, 1fr);
    }

    @media only screen and (max-width: $tablet) {
        grid-template-columns: repeat(3, 1fr);
    }

    @media only screen and (max-width: $phone) {
        grid-template-columns: repeat(2, 1fr);
    }
    
    &__item {
        overflow: hidden;
        img {
            object-fit: fill;
            width: 100%;
            overflow: hidden;
        }
    }
}